:root {
    --dark-green: #628b48;
    --light-green: #6ab547;
    --yellow: #edd83d;
    --black: #000000;
    --white: #ffffff;
  }

*{
    font-weight: bolder;
}

.mycl-cart-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80vw;
    margin: 5vw auto;
}

.mycl-cart-section > h1{
    font-size: 6vw;
    position: relative;
}

h1:hover{
    color: var(--light-green);
    transition: 0.4s all;
}

h1::before{
    content: "";
    width: 0;
    height: 0.2vw;
    background-color: var(--light-green);
    position: absolute;
    left: 0;
    bottom: -0.2vw;
}

h1:hover::before{
    width: 100%;
    transition: 0.4s all;
}

.mycl-cart-grid{
    display: grid;
    grid-template-areas: "product quantity total"
    "line line line"
    "product1 quantity1 total1"
    "line2 line2 line2"
    "product2 quantity2 total2";
    gap: 5vw;
    margin: 5vw auto;
}


.mycl-img-cart-div img,.mycl-img-cart-div2 img{
    width: 10vw;
}

.mycl-img-cart-div{
    display: flex;
    grid-area: product1;
    gap: 1vw;
}

h3{
    color: var(--light-green);
}

.mycl-quantity-div{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: quantity1;
}

.mycl-quantity-div div,.mycl-quantity-div2 div{
    border: 1px solid black;
    padding: 1vw;
    font-weight: bolder;
    font-size: 2vw;
}


.mycl-product{
    grid-area: product;
}

.mycl-quantity{
    grid-area: quantity;
}

.mycl-total{
    grid-area: total;
}

.mycl-total-div{
    grid-area: total1;
}

.mycl-img-cart-div2{
    display: flex;
    grid-area: product2;
    gap: 1vw;
}

.mycl-quantity-div2{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: quantity2;
}

.mycl-total-div2{
    grid-area: total2;
}

.mycl-div-img-cart{
    border: 1px solid black;
}

.mycl-small-line{
    grid-area: line;
    border-bottom: 1px solid rgba(0, 128, 0, 0.5);
}

.mycl-small-line2{
    grid-area: line2;
    border-bottom: 1px solid rgba(0, 128, 0, 0.5);
}

.mycl-total-final{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:1vw;
    margin:1vw auto 5vw auto;
}

.mycl-total-final h1{
    font-size: 5vw;
}
.mycl-total-final p{
    font-size: 2vw;
    background-color: var(--light-green);
    color: var(--white);
    padding: 1vw;
}