:root {
  --dark-green: #628b48;
  --light-green: #6ab547;
  --yellow: #edd83d;
  --black: #000000;
  --white: #ffffff;
}


#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #6ab547;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader {
  position: absolute;
  width: 120px;
  height: 90px;
  margin: 0 auto;
  z-index: 100;
  top: 50vh;
  left: 50vw;
}
.loader:before {
  content: "";
  position: absolute;
  bottom: 30px;
  left: 50px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: #000;
  animation: loading-bounce 0.5s ease-in-out infinite alternate;
  z-index: 100;
}
.loader:after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 7px;
  width: 45px;
  border-radius: 4px;
  box-shadow: 0 5px 0 #fff, -35px 50px 0 #fff, -70px 95px 0 #fff;
  animation: loading-step 1s ease-in-out infinite;
  z-index: 100;
}

@keyframes loading-bounce {
  0% { transform: scale(1, 0.7)}
  40% { transform: scale(0.8, 1.2)}
  60% { transform: scale(1, 1)}
  100% { bottom: 140px }
}
@keyframes loading-step {
  0% {
    box-shadow: 0 10px 0 rgba(0,0,0,0),
                0 10px 0 #fff,
              -35px 50px 0 #fff,
              -70px 90px 0 #fff;
  }
  100% {
    box-shadow: 0 10px 0 #fff,
              -35px 50px 0 #fff,
              -70px 90px 0 #fff,
              -70px 90px 0 rgba(0,0,0,0);
  }
}

.mycl-heading-row{
  border-bottom: 1px solid var(--light-green);
}

.mycl-product > col img{
  width: 5vw;
}

.mycl-ari i{
  width: 2vw;
  height: 2vw;
  color: #6ab547;
}

.mycl-ari-row button{
  background-color: var(--light-green);
  font-weight: bold;
  margin: 1vw;
}

.mycl-sub-total{
  background-color: #6ab547;
  font-weight: bold;
}

.mycl-checkout-btn{
  background-color: #000000;
  font-weight: bold;
  color: white;
  margin: 1vw;
}