*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', serif;
}

:root{
    --dark-green: #628b48;
    --light-green: #6ab547;
    --yellow: #edd83d;
    --black: #000000;
    --white: #ffffff;
  } 

.mycl-top-banner{
    display: flex;
    justify-content: space-between;
    background-color: var(--black);
    padding: 0.6vw;
    align-items: center;
}

.mycl-banner-left,.mycl-banner-right{
    color: var(--white);
    display: flex;
    gap: 2vw;
    font-size: 1.3vw;
}

.mycl-banner-right > img{
    width: 3vw;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 0 5vw;
    align-items: center;
    background-color: var(--light-green);
    height: 10vw;
    font-family: "Roboto", serif;
}

nav > ul{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    gap: 3vw;
}

nav > ul > li > a{
    text-decoration: none;
    color: var(--black);
    font-size: 1.4vw;
    font-weight: bolder;
    position: relative;
    transition: 0.4s;
    /* overflow: hidden; */
}

nav > ul > li:hover{
    transform: translateY(-0.5vw);
}

nav > ul > li > a:before{
    content: "";
    width: 0;
    height: 0.2vw;
    position: absolute;
    bottom: -0.3vw;
    left: 0;
    background-color: var(--black);
}

nav > ul > li > a:hover::before{
    width: 100%;
    transition: width 0.4s;
}

.mycl-nav-logo-div img{
    width: 7vw;
}

.mycl-icons-nav svg{
    margin-right: 0.4vw;
}

/* Product Section Css */

.mycl-product-section{
    width: 60vw;
    display: flex;
    /* align-items: center; */
}

.mycl-product-section > h1{
    color: var(--black);
    font-size: 3.4vw;
    /* align-self: center; */
}

.mycl-products-flex{
    display: flex;
    justify-content: space-evenly;
}

.mycl-product{
    display: flex;
    width: 15vw;
    overflow: hidden;
}

.mycl-product > img{
    width: 20vw;
    height: auto;
}
