@import url("https://fonts.googleapis.com/css2?family=Anton&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --dark-green: #628b48;
  --light-green: #6ab547;
  --yellow: #edd83d;
  --black: #000000;
  --white: #ffffff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
@keyframes appear {
  from {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}

body > main > div{
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
  transition: all 0.5s;
}

::-webkit-scrollbar-thumb {
  background-color: var(--light-green);
}

::-webkit-scrollbar {
  width: 1vw;
  border-radius: 30%;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--dark-green);
}


.mycl-top-banner {
  display: flex;
  justify-content: space-between;
  background-color: var(--black);
  padding: 0.6vw;
  align-items: center;
}

.mycl-banner-left,
.mycl-banner-right {
  color: var(--white);
  display: flex;
  gap: 2vw;
  font-size: 1.3vw;
}

.mycl-banner-right img {
  width: 3vw;
}

header {
  position: sticky;
  top: 0;
  z-index: 10;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 0 5vw;
  align-items: center;
  background-color: var(--light-green);
  height: 6vw;
}

nav > ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  gap: 3vw;
}

nav > ul > li > a {
  text-decoration: none;
  color: var(--black);
  font-size: 1.4vw;
  font-weight: bolder;
  position: relative;
  transition: 0.4s;
  /* overflow: hidden; */
}

nav > ul > li:hover {
  transform: translateY(-0.5vw);
}

nav > ul > li > a:before {
  content: "";
  width: 0;
  height: 0.2vw;
  position: absolute;
  bottom: -0.3vw;
  left: 0;
  background-color: var(--black);
}

nav > ul > li > a:hover::before {
  width: 100%;
  transition: width 0.4s;
}

.mycl-nav-logo-div img {
  width: 4vw;
}

.mycl-nav-logo-div img:hover {
  transform: scale(1.1);
}

.mycl-icons-nav svg {
  margin-right: 0.5vw;
  transition: all 0.4s;
}

.mycl-icons-nav svg:hover {
  transform: translateY(-0.4vw) scale(1.5);
}

/* footer Css */

footer {
  display: flex;
  justify-content: center;
  gap: 13vw;
  background-color: var(--black);
}

footer a {
  text-decoration: none;
}

footer h1 {
  color: var(--white);
  font-size: 1.5vw;
  margin: 1vw;
}

.mycl-footer-left,
.mycl-footer-cneter,
.mycl-footer-social-icons {
  display: flex;
  flex-direction: column;
}

footer img {
  width: 5vw;
  height: 5vw;
}

.mycl-footer-social-icons {
  flex-direction: row;
  gap: 2vw;
  align-items: center;
}

.mycl-footer-bottom {
  color: white;
  align-self: center;
}


.mycl-collection {
  width: 80vw;
  margin: 5vw auto;
  display: flex;
  flex-direction: column;
}

.mycl-catalog-flex {
  display: flex;
  width: 80vw;
  gap: 5vw;
  flex-wrap: wrap;
  justify-content: center;
}

.mycl-catalog-flex-item {
  width: 22vw;
  box-shadow: 0 0 0.3vw rgba(0, 0, 0, 0.3);
  position: relative;
  overflow: hidden;
}

.mycl-catalog-flex-item img {
  width: 22vw;
  /* height: fit-content; */
  aspect-ratio: 1 1;
}

.mycl-collection > h1 {
  align-self: center;
  font-size: 4vw;
  margin: 5vw 0;
  position: relative;
  color: var(--black);
}

.mycl-collection > h1:hover {
  color: var(--light-green);
}

.mycl-collection > h1:before {
  content: "";
  width: 0;
  height: 0.2vw;
  background-color: var(--light-green);
  position: absolute;
  bottom: 0.2vw;
  left: 0;
}

a:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
}
.mycl-collection > h1:hover::before {
  width: 100%;
  transition: all 0.4s;
}

.mycl-collection h2 {
  color: var(--black);
  background-color: var(--light-green);
  font-size: 2.3vw;
  z-index: 1;
}

.mycl-h2-div {
  color: var(--black);
  background-color: var(--light-green);
  border-radius: 1vw;
  box-shadow: 0 0 1vw rgba(0, 0, 0, 0.3);
  font-size: 2.3vw;
  width: 80%;
  padding: 0.2vw;
  text-align: center;
  overflow: hidden;
  position: absolute;
  bottom: 115%;
  left: 10%;
}

.mycl-collection h2 {
  position: relative;
}

.mycl-collection h2 {
  color: var(--white);
  /* background-color: var(--black); */
}

.mycl-catalog-flex-item:hover .mycl-h2-div {
  bottom: 45%;
  transition: all 0.4s;
}

.mycl-collection h2:before {
  content: "";
  width: 100%;
  height: 140%;
  position: absolute;
  z-index: -1;
  top: -10%;
  left: -150%;
  background-color: var(--black);
}

.mycl-collection h2:hover::before {
  left: -50%;
  transition: all 0.4s;
}

.mycl-collection h2::after {
  content: "";
  width: 100%;
  height: 140%;
  position: absolute;
  z-index: -1;
  top: -20%;
  left: 250%;
  background-color: var(--black);
}

.mycl-collection h2:hover::after {
  left: 50%;
  transition: all 0.4s;
}

.mycl-tint {
  display: none;
}

.mycl-catalog-flex-item:hover .mycl-tint {
  display: block;
  width: 100%;
  height: 120%;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  bottom: 0;
  left: 0;
}

.mycl-collection h2:hover {
  cursor: pointer;
}

.mycl-quality-flex{
  gap: 2vw  ;
}

.mycl-quality-card h2{
  color: var(--white);
  font-size: 2vw;
}

.mycl-quality-card p{
  color: var(--white);
  font-size: 1.5vw;
}

.mycl-quality-card{
  width: 35vw;
  height: 35vw;
}

.mycl-quality-img-card-div{
  width: 9vw;
  height: 9vw;
  border-radius: 50%;
  border: 2px solid white;
}
.mycl-quality-img-card-div img{
  width: 5vw;
}

.mycl-quality-section{
  background-color: #6ab547;
}

/* CSS Media Query */

@media screen and ((min-width: 481px) and (max-width: 768px)) {
  .mycl-catalog-flex {
    width: 75vw;
  }
}

@media screen and (max-width: 480px) {
  .mycl-catalog-flex {
    width: 70vw;
  }

  .mycl-catalog-flex-item {
    width: 35vw;
  }

  .mycl-catalog-flex-item img {
    width: 35vw;
  }
}

