@import url("https://fonts.googleapis.com/css2?family=Anton&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --dark-green: #628b48;
  --light-green: #6ab547;
  --yellow: #edd83d;
  --black: #000000;
  --white: #ffffff;
}


#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #6ab547;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader {
  position: absolute;
  width: 120px;
  height: 90px;
  margin: 0 auto;
  z-index: 100;
  top: 50vh;
  left: 50vw;
}
.loader:before {
  content: "";
  position: absolute;
  bottom: 30px;
  left: 50px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: #FF3D00;
  animation: loading-bounce 0.5s ease-in-out infinite alternate;
  z-index: 100;
}
.loader:after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 7px;
  width: 45px;
  border-radius: 4px;
  box-shadow: 0 5px 0 #fff, -35px 50px 0 #fff, -70px 95px 0 #fff;
  animation: loading-step 1s ease-in-out infinite;
  z-index: 100;
}

@keyframes loading-bounce {
  0% { transform: scale(1, 0.7)}
  40% { transform: scale(0.8, 1.2)}
  60% { transform: scale(1, 1)}
  100% { bottom: 140px }
}
@keyframes loading-step {
  0% {
    box-shadow: 0 10px 0 rgba(0,0,0,0),
                0 10px 0 #fff,
              -35px 50px 0 #fff,
              -70px 90px 0 #fff;
  }
  100% {
    box-shadow: 0 10px 0 #fff,
              -35px 50px 0 #fff,
              -70px 90px 0 #fff,
              -70px 90px 0 rgba(0,0,0,0);
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

@keyframes appear {
  from {
    transform: scale(0.8);
  }
  to {
    transform: scale(1);
  }
}

body > main > div{
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
  transition: all 0.5s;
}

::-webkit-scrollbar-thumb {
  background-color: var(--light-green);
}

::-webkit-scrollbar {
  width: 1vw;
  border-radius: 30%;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--dark-green);
}


.mycl-top-banner {
  display: flex;
  justify-content: space-between;
  background-color: var(--black);
  padding: 0.6vw;
  align-items: center;
}

.mycl-banner-left,
.mycl-banner-right {
  color: var(--white);
  display: flex;
  gap: 2vw;
  font-size: 1.3vw;
}

.mycl-banner-right img {
  width: 3vw;
}

.mycl-top-banner a{
  text-decoration: none;
  color: white;
}

header {
  position: sticky;
  top: 0;
  z-index: 10;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 0 5vw;
  align-items: center;
  background-color: var(--light-green);
  height: 6vw;
}

nav > ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  gap: 3vw;
}

nav > ul > li > a {
  text-decoration: none;
  color: var(--black);
  font-size: 1.4vw;
  font-weight: bolder;
  position: relative;
  transition: 0.4s;
  /* overflow: hidden; */
}

nav > ul > li:hover {
  transform: translateY(-0.5vw);
}

nav > ul > li > a:before {
  content: "";
  width: 0;
  height: 0.2vw;
  position: absolute;
  bottom: -0.3vw;
  left: 0;
  background-color: var(--black);
}

nav > ul > li > a:hover::before {
  width: 100%;
  transition: width 0.4s;
}

.mycl-nav-logo-div img {
  width: 4vw;
}

.mycl-nav-logo-div img:hover {
  transform: scale(1.1);
}

.mycl-icons-nav svg {
  margin-right: 0.2vw;
  transition: all 0.4s;
}

.mycl-icons-nav svg:hover {
  transform: translateY(-0.4vw) scale(1.5);
}


.mycl-icons-nav button{
  /* background-color: var(--light-green); */
  border: none;
  color: #000000;
}

.mycl-icons-nav button:hover{
  /* background-color: var(--light-green); */
  color: #000;
}

.mycl-icons-nav button:active{
  /* background-color: var(--light-green); */
  color: #000;
}

.mycl-modal{
  background-color: var(--light-green);
  color: var(--white);
}

.modal-footer button{
  background-color: var(--black);
  color: var(--white);
  font-weight: bolder;
  border: none;
}

.modal-footer button:hover{
  background-color: var(--white);
  color: var(--black);
}

.modal-footer button:active{
  background-color: var(--black)!important;
  color: var(--white);
  transform: scale(0.9);
  transition: all 0.4s;
}

/* footer Css */

footer {
  display: flex;
  justify-content: center;
  gap: 13vw;
  background-color: var(--black);
}

footer a {
  text-decoration: none;
}

footer h1 {
  color: var(--white);
  font-size: 1.5vw;
  margin: 1vw;
}

.mycl-footer-left,
.mycl-footer-cneter,
.mycl-footer-social-icons {
  display: flex;
  flex-direction: column;
}

footer img {
  width: 5vw;
  height: 5vw;
}

.mycl-footer-social-icons {
  flex-direction: row;
  gap: 2vw;
  align-items: center;
  justify-content: center;
}

.mycl-footer-bottom {
  color: white;
  align-self: center;
  font-size: 3.5vw;
}


.mycl-collection {
  width: 80vw;
  margin: 5vw auto;
  display: flex;
  flex-direction: column;
}

.mycl-catalog-flex {
  display: flex;
  width: 80vw;
  gap: 5vw;
  flex-wrap: wrap;
  justify-content: center;
}

.mycl-catalog-flex-item {
  width: 22vw;
  box-shadow: 0 0 0.3vw rgba(0, 0, 0, 0.3);
  position: relative;
  overflow: hidden;
}

.mycl-catalog-flex-item img {
  width: 22vw;
  /* height: fit-content; */
  aspect-ratio: 1 1;
}

.mycl-collection > h1 {
  align-self: center;
  font-size: 4vw;
  margin: 5vw 0;
  position: relative;
  color: var(--black);
}

.mycl-collection > h1:hover {
  color: var(--light-green);
}

.mycl-collection > h1:before {
  content: "";
  width: 0;
  height: 0.2vw;
  background-color: var(--light-green);
  position: absolute;
  bottom: 0.2vw;
  left: 0;
}

a:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
}
.mycl-collection > h1:hover::before {
  width: 100%;
  transition: all 0.4s;
}

.mycl-collection h2 {
  color: var(--black);
  background-color: var(--light-green);
  font-size: 2.3vw;
  z-index: 1;
}

.mycl-h2-div {
  color: var(--black);
  background-color: var(--light-green);
  border-radius: 1vw;
  box-shadow: 0 0 1vw rgba(0, 0, 0, 0.3);
  font-size: 2.3vw;
  width: 80%;
  padding: 0.2vw;
  text-align: center;
  overflow: hidden;
  position: absolute;
  bottom: 115%;
  left: 10%;
}

.mycl-collection h2 {
  position: relative;
}

.mycl-collection h2 {
  color: var(--white);
  /* background-color: var(--black); */
}

.mycl-catalog-flex-item:hover .mycl-h2-div {
  bottom: 45%;
  transition: all 0.4s;
}

.mycl-collection h2:before {
  content: "";
  width: 100%;
  height: 140%;
  position: absolute;
  z-index: -1;
  top: -10%;
  left: -150%;
  background-color: var(--black);
}

.mycl-collection h2:hover::before {
  left: -50%;
  transition: all 0.4s;
}

.mycl-collection h2::after {
  content: "";
  width: 100%;
  height: 140%;
  position: absolute;
  z-index: -1;
  top: -20%;
  left: 250%;
  background-color: var(--black);
}

.mycl-collection h2:hover::after {
  left: 50%;
  transition: all 0.4s;
}

.mycl-tint {
  display: none;
}

.mycl-catalog-flex-item:hover .mycl-tint {
  display: block;
  width: 100%;
  height: 120%;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  bottom: 0;
  left: 0;
}

.mycl-collection h2:hover {
  cursor: pointer;
}

.mycl-quality-flex{
  gap: 2vw  ;
}

.mycl-quality-card h2{
  color: var(--white);
  font-size: 2vw;
}

.mycl-quality-card p{
  color: var(--white);
  font-size: 1.5vw;
}

.mycl-quality-card{
  width: 28vw;
}

.mycl-quality-img-card-div{
  width: 9vw;
  height: 9vw;
  border-radius: 50%;
  border: 2px solid white;
}
.mycl-quality-img-card-div img{
  width: 5vw;
}

.mycl-quality-section{
  background-color: #6ab547;
}

.mycl-featured-header{
  color: var(--black);
  font-size: 4vw;
  font-weight: bolder;
  margin: 3vw 0;
  padding: 2vw;
  position: relative;
  background-color: var(--light-green);
}

.mycl-featured-header {
  align-self: center;
  font-size: 4vw;
  margin: 1vw 0;
  position: relative;
  color: var(--black);
}

.mycl-featured-header:hover {
  color: var(--white);
}

.mycl-featured-header:before {
  content: "";
  width: 0;
  height: 0.2vw;
  background-color: var(--white);
  position: absolute;
  bottom: 0.7vw;
  left: 0;
}

.mycl-featured-header:hover::before {
  width: 100%;
  transition: all 0.4s;
}

.mycl-featured-section >h2{
  color: var(--light-green);
  background-color: black;
  padding: 2vw;
  font-weight: bolder;
  font-size: 3vw;
  margin: 2vw 0;
}

h1::selection,h2::selection,h3::selection,h4::selection,h5::selection,h6::selection,p::selection,button::selection,a::selection{
  color: var(--white);
  background-color: var(--light-green);
}

.mycl-featured-card{
  margin: 2vw 0;
  padding: 0.2vw;
  border: 1.5px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 0.5vw rgba(0, 0, 0, 0.3);
}

.mycl-featured-card:hover{
  transform: scale(1.1);
  transition: all 0.4s;
}

.mycl-featured-card img{
  width: 100%;
  height: 100%;
  aspect-ratio: 1 1;
}

.mycl-featured-section button{
  background-color: var(--light-green);
  color: var(--black);
  padding: 0.6vw 1vw;
  font-size: 1.5vw;
  font-weight: bold;
  border: none;
  border-radius: 1vw;
  cursor: pointer;
}

.mycl-featured-section button:hover{  
  background-color: var(--black);
  color: var(--white);
}

.mycl-featured-section button:active{
  transform: scale(0.9);
  background-color: black !important;
  color: var(--white);
}

/* CSS Media Query */

@media screen and ((min-width: 481px) and (max-width: 768px)) {
  .mycl-catalog-flex {
    width: 80vw;
  }

  .mycl-quality-card{
    width: 55vw;
    margin: 2vw 0;
  }

  .mycl-quality-card h2{
    color: var(--white);
    font-size: 4vw;
  }

  .mycl-quality-card p{
    color: var(--white);
    font-size: 3vw;
  }

  .mycl-quality-img-card-div{
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    border: 2px solid white;
  }

  .mycl-quality-img-card-div img{
    width: 10vw;
  }

  .mycl-featured-section button{
    padding: 0.6vw 1vw;
    font-size: 5vw;
    font-weight: bold;
    border-radius: 1vw;
  }

  .mycl-featured-section >h2{
    font-size: 6vw;
  }

  .mycl-featured-header{
    font-size: 6vw;
  }

  nav{
    height: 10vw;
  }

  nav > ul > li > a{
    font-size: 3vw;
  }

  .mycl-nav-logo-div img{
    width: 7vw;
  }

  footer{
    flex-wrap: wrap;
  }

  footer h1 {
    color: var(--white);
    font-size: 3.5vw;
    margin: 1vw;
  }

  footer img {
    width: 8vw;
    height: 8vw;
    margin: 1vw;
  }
}

@media screen and (max-width: 480px) {
  .mycl-catalog-flex {
    width: 80vw;
  }

  .mycl-catalog-flex-item {
    width: 30vw;
  }

  .mycl-catalog-flex-item img {
    width: 35vw;
  }

  
  .mycl-quality-card{
    width: 55vw;
  } 

  .mycl-quality-card h2{
    color: var(--white);
    font-size: 4vw;
  }

  .mycl-quality-card p{
    color: var(--white);
    font-size: 3vw;
  }

  .mycl-quality-img-card-div{
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    border: 2px solid white;
  }

  .mycl-quality-img-card-div img{
    width: 10vw;
  }

  .mycl-featured-section button{
    padding: 0.6vw 1vw;
    font-size: 5vw;
    font-weight: bold;
    border-radius: 1vw;
  }

  .mycl-featured-section >h2{
    font-size: 6vw;
  }

  .mycl-featured-header{
    font-size: 6vw;
  }

  nav{
    height: 15vw;
  }

  nav > ul > li > a{
    font-size: 3vw;
  }

  .mycl-nav-logo-div img{
    width: 7vw;
  }

  nav svg,nav button svg{
    width: 5vw;
  }

  footer{
    flex-wrap: wrap;
  }

  footer h1 {
    color: var(--white);
    font-size: 3.5vw;
    margin: 1vw;
  }

  footer img {
    width: 8vw;
    height: 8vw;
    margin: 1vw;
  }
}

@media screen and (min-width: 1200px)  {
  .mycl-quality-card{
    width: 20vw;
  }
}

